// PROPIEDADES DEL FOOTER

.pie{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: auto;
	align-items: center;
	justify-content: center;
	color:$whiteT;
	padding-top:20px;
	
}

.pie_icon--sm{
	width: 30px;
}

.pie_icon--m{
	width: 42px;
}		

.pie_flex{
	display:flex;
	text-align: right;
	flex-direction: column;
	margin-right: 10px;

}	
