.div_header{
	background-image:url(../images/header-lg.webp);
	opacity:0.9;
	width:100%;
}

.logo-iconosize{
	width:280px;
	height: auto;
	}

// bg de Navbar y footer

.bg-softBordeau{
	background-color:$softBordeau;
}

.sticky {
  position: sticky;
  top: 0px;
  width: 100%;
}