@import "_vars";

// CONTENEDORES DE PAGINA INDEX.HTML

.div_icono_h1{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.div_logo{
	display: flex;
	justify-content: center;
	align-items: center;
	}

.carrousel_images{
	object-fit: cover;
	width: 950px;
	height: 450px;
}

.que_zonta{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 200px 30px;

}

.mapa{
	display: flex;
	width: 100%;
	height: auto;
	align-items: center;
	align-content:center;
	// object-fit: contain;
}

.div_involucrarse_contenedor{
	display: flex;
	flex-direction: row;
	position: relative;
	width: 100%;
	justify-content: space-evenly;
	margin-top: 20px;
	
	// background-color: #f5BD47 ;
	background: rgb(77,148,164);
  background: radial-gradient(circle, rgba(77,148,164,1) 0%, rgba(231,168,66,0.6979166666666667) 100%);

}

.sumate{
	display:flex;
	flex-direction: column;
	align-content:center;
	justify-content: center;
	padding-left:10px;
	padding-right:10px;
}

.sumate_tit {
	display:flex;
	flex-direction: column;
	background-color: $petrol;
	color:$whiteT;
	height: 400px;
	width: 300px;
	text-align:center;
	justify-content: center;
	align-content:center;

}

.sumate_img {
	background-image:url("./images/clubes.png");

}

// Divs para páginas Nuestras Causas, Nuestros Programas, Novedades y eventos y Sobre nosotros 

.grilla{
	width: 90%;
	background:map-get($map:$colores,$key:'cuatro');
	background:map-get($map:$colores,$key:'cinco');
	margin: 5px auto;
	border-radius:8px;
	padding:5px;
		&:hover{
		transform: scale(1.09);
		cursor:pointer;
	}
}

.gap {
	gap:15px;
}

.div_45{
	width: 47%;
	height:auto;
}

.div_94{
	width:94%;
	height:auto;
}

// DIV CONTENEDOR PARA PAGINAS CAUSAS, PROGRAMAS, NOVEDADES Y EVENTOS
// Y SOBRE NOSOTROS

.oval{
	height: 50px;
	width: 100px;
	background-color:#555;
	border-radius:50%
}

.flex-center-row{
	display:flex;
	align-items:center;
	flex-direction: row;
	margin: auto;
	padding: 0px 30px
}

.cards{
	width: 200px;
	height: 120px;

	}
	

	.div_contenedor{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 10px;
	padding: 30px;
	justify-content: space-around;
	align-items: center;
	background-color: $whiteT;
	animation: bg 5s infinite;
}	




.div_contenedor_zonta{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 60px;
	padding: 30px;
	justify-content: space-around;
	align-items: center; 
	background-color: $whiteT;
	animation: bg 5s infinite;
}	



.paginas{
	height:50vh;
	weigth:100%;
}


// GRID PAGINA NOSOTROS

.contenedor{
	display: grid;
	gap:10px;
	height: auto;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, auto);
	grid-template-areas: 
	"header header header"
	"section section section"
	"main main aside"
	"main main aside"
	"footer footer footer";
}

.contenedor > div,
.contenedor .aside{
	weigth:90%;
	background-color: $lightYellow;
	border-radius: 8px;
	padding: 20px;
}

.contenedor .header{
	grid-area: header;
	
}

.contenedor .section{
	grid-area: section;
	
}

.contenedor .main{
	grid-area: main;
	display: flex;
	flex-wrap: wrap;
	padding:20px;
}

.contenedor .aside{
	grid-area: aside;
}

.contenedor .footer{
	grid-area: footer;
}

.imagen_principal{
  display: flex;
  margin: 20px;
  width: 100%
}

.btn_involucrarse{
	background-color: $petrol;
	border-radius: 5px;
	font-family: $fontSec;
	font-size: 1.5rem;
	margin-top: 20px;
	color:$whiteT;
	&:hover{
 		background-color: $whiteT;
	  color:$petrol;
	  border:none;
 		}
	}


//.bg-carousel{
	//background-color: $petrol;
//}

// ----------- EXTEND PARA ICONOS ------------------

.icono_causas{
	@extend .iconos; 
	width: 30%;
}

.icono_programas{
	@extend .iconos; 
	width: 25%;
	}

.icono_nosotros{
	@extend .iconos; 
	width: 50%;	
}


